
// screen size
$x-small: 420px;
$small: 767px;
$medium: 1024px;
$large: 1200px;

// colors
$purple: rgb(155, 89, 182);
$purple-dark: rgb(127, 61, 155);

$offwhite: rgb(236, 240, 241);

$gray: rgb(127, 140, 141);
$gray-light: rgb(189, 195, 199);
$gray-light-light: rgb(225, 227, 227);
