<header>
  <h1>
    {{ title }}
  </h1>
  <h2>
    {{ subTitle }}
  </h2>
</header>
<main>
  <section>
    <article>

      <div>
        <label for="city" class="hide">City</label>
        <input type="text" name="city" id="city" [(ngModel)]="city" placeholder="City" [ngClass]="{'has-error': !city && submitted}"/>
        <p *ngIf="!city && submitted" class="error">required</p>
        <label for="country" class="hide">Country</label>
        <input type="text" name="country" [(ngModel)]="country" placeholder="Country" [ngClass]="{'has-error': !country && submitted}"/>
        <p *ngIf="!country && submitted" class="error">required</p>
        <a href="javascript:void(0);" title="Get Weather" class="btn btn--primary" (click)="getWeather()">Get Weather</a>
      </div>

      <div class="results">
        <p *ngIf="error" class="results--error">{{ notFound }}</p>
        <p *ngIf="!complete" class="results--intro">Enter a location above to get started</p>

        <div *ngIf="!error && complete" class="results--weather">
            <p *ngFor="let item of content">Location <span> {{ item.name }}, {{ item.sys.country }}</span></p>
            <p *ngFor="let item of content">Temperature <span> {{ item.main.temp }}&deg; F</span></p>
            <p *ngFor="let item of content">Humidity <span> {{ item.main.humidity }}%</span></p>
            <p *ngFor="let item of content">Conditions <span *ngFor="let items of item.weather; let i = index" [attr.data-index]="i">{{ items.main }}</span></p>
            <a href="javascript:void(0);" title="Clear" class="btn btn--secondary" (click)="clearWeather()">Clear</a>
        </div>

      </div>
    </article>

  </section>
</main>