// screen size
$x-small: 420px;
$small: 768px;
$medium: 1024px;

// fonts
$font: 'Roboto', sans-serif;

// colors
$white: #ffffff;
$grey: #212428;
$grey-light: #CECECE;
$red: #ff0000;
$light-blue: #27BEFF;