
// screen size
$x-small: 420px;
$small: 767px;
$medium: 1024px;
$large: 1200px;

// colors
$white: rgb(255, 255, 255);
$offwhite: rgb(236, 240, 241);

$black: rgb(0, 0, 0);

$gray: rgb(127, 140, 141);
$gray-light: rgb(189, 195, 199);
$gray-light-light: rgb(225, 227, 227);

$green: rgb(46, 204, 113);
$green-dark: rgb(10, 150, 68);
$green-light: rgb(160, 212, 182);