
@import '_variables';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background: $gray;
}

body {
    font-size: 1rem;
    color: $gray;
    padding: 0;
}

// Fonts
h1 {
    font-size: 2rem;
    color: $black;
    margin: 0 0 20px;
}
h2 {
    font-size: 1.7rem;
    color: $black;
    margin: 0 0 20px;
}
h3 {
    font-size: 1.4rem;
    color: $black;
    margin: 0 0 20px;
}
p, ul {
    font-size: 1.25rem;
    line-height: 1.5em;
}

// Helpers
.block {
    display: block;
}
.hide {
    display: none;
}
.show {
    display: block;
}

// Form
form {
    width: 60%;
    margin: 0 auto;
    @media (max-width: $small) {
        width: auto;
    }
    label {
        @extend .block;
        font-size: 1.3rem;
        font-weight: 400;
        color: $black;
        text-align: left;
        margin: 20px 0 5px;
        small {
            display: block;
            font-size: .8rem;
            color: $gray;
            padding: 5px 0;
        }
    }
    input {
        @extend .block;
        width: 100%;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        padding: 10px;
        background: rgb(255,255,255);
        border: 1px solid $gray-light;
        border-radius: 3px;
        -webkit-appearance: none;
        &::-webkit-input-placeholder {
            font-weight: 200;
            color: rgb(127, 140, 141);
        }
        &::-moz-placeholder {
            font-weight: 200;
            color: rgb(127, 140, 141);
        }
        &:-ms-input-placeholder {
            font-weight: 200;
            color: rgb(127, 140, 141);
        }
        @media (max-width: 1024px) {
            &::-webkit-input-placeholder {
                font-weight: 400;
                color: rgb(149, 165, 166);
            }
            &::-moz-placeholder {
                font-weight: 400;
                color: rgb(149, 165, 166);
            }
            &:-ms-input-placeholder {
                font-weight: 400;
                color: rgb(149, 165, 166);
            }
        }
    }
    textarea {
        @extend .block, input;
        min-height: 160px;
        max-width: 516px;
        &::-webkit-input-placeholder {
            font-weight: 200;
            color: rgb(127, 140, 141);
        }
        &::-moz-placeholder {
            font-weight: 200;
            color: rgb(127, 140, 141);
        }
        &:-ms-input-placeholder {
            font-weight: 200;
            color: rgb(127, 140, 141);
        }
        @media (max-width: 1024px) {
            &::-webkit-input-placeholder {
                font-weight: 400;
                color: rgb(149, 165, 166);
            }
            &::-moz-placeholder {
                font-weight: 400;
                color: rgb(149, 165, 166);
            }
            &:-ms-input-placeholder {
                font-weight: 400;
                color: rgb(149, 165, 166);
            }
        }
        @media (max-width: $small) {
            max-width: 100%;
        }
        &.has-error {
            background-size: 5%;
            @media (max-width: 414px) {
                background-size: 9%;
            }
        }
    }
    .has-error {
        padding: 10px 50px 10px 10px;
        background-size: 5%;
        border: 1px solid #c0392b;
        @media (max-width: 414px) {
            background-size: 9%;
        }
        &::-webkit-input-placeholder {
            font-weight: 400;
            color: rgb(192, 57, 43);
        }
        &::-moz-placeholder {
            font-weight: 400;
            color: rgb(192, 57, 43);
        }
        &:-ms-input-placeholder {
            font-weight: 400;
            color: rgb(192, 57, 43);
        }
        &:focus {
            &::-webkit-input-placeholder {
                font-weight: 200;
                color: rgb(127, 140, 141);
            }
            &::-moz-placeholder {
                font-weight: 200;
                color: rgb(127, 140, 141);
            }
            &:-ms-input-placeholder {
                font-weight: 200;
                color: rgb(127, 140, 141);
            }
            @media (max-width: 1024px) {
                &::-webkit-input-placeholder {
                    font-weight: 400;
                    color: rgb(149, 165, 166);
                }
                &::-moz-placeholder {
                    font-weight: 400;
                    color: rgb(149, 165, 166);
                }
                &:-ms-input-placeholder {
                    font-weight: 400;
                    color: rgb(149, 165, 166);
                }
            }
        }
    }
    .has-error-message {
        font-size: 0.8rem;
        font-weight: 600;
        color: rgb(192, 57, 43);
        text-align: left;
        margin: 5px 0 10px;
    }
    button, input[type="button"] {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        color: $white;
        height: 40px;
        line-height: 40px;
        margin: 20px 0 0;
        padding: 0;
        background: $black;
        box-sizing: border-box;
        border: 1px solid $gray;
        border-radius: 3px;
        &:hover {
            cursor: pointer;
            color: $gray;
            background: $white;
        }
        @media (max-width: $small) {
            width: 100%;
            height: auto;
            padding: 5px 0;
        }
    }
}

.page-wrap {
    min-height: 100%;
    background: $white;
    background-size: 100%;
    margin: 0 0 -40px;
    padding: 0 0 60px;
}

// Header
header {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
    padding: 20px 5% 10px;
    background: $black;

    @media (max-width: $small) {
        z-index: 9999;
        height: 60px;
    }
    @media (max-width: 360px) {
        margin-bottom: 20px;
    }

    .intro-link {
        position: absolute;
        top: 20px;
        left: 2.5%;
        z-index: 1;
        display: block;
        height: 40px;
        width: 250px;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        line-height: 2.5rem;
        color: $white;
        background: $black;
        border-radius: 3px;

        &:hover, &:focus {
            text-decoration: none;
            color: $black;
            background: $white;
        }
        @media (max-width: $small) {
            top: 25%;
            left: 4%;
            width: auto;
            height: auto;
            line-height: 1.2rem;
            padding: 10px 10px 5px;
        }
    }
}

// Navigation
.main-nav {
    height: 50px;
    ul {
        list-style-type: none;
        text-align: right;
        margin: 0;
        padding: 5px 0;
        li {
            display: inline-block;
            text-align: center;
            margin: 0 10px 0 0;

            &:last-of-type {
                margin: 0;
            }

            a {
                display: block;
                height: 40px;
                width: 100%;
                font-weight: normal;
                line-height: 40px;
                text-decoration: none;
                color: $offwhite;
                padding: 0 10px;
                border-radius: 3px;

                &.active, &:hover, &:focus {
                    color: $black;
                    text-decoration: none;
                    background: $white;
                }
            }
        }
    }

    // Mobile Nav View
    @media (max-width: $small) {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background: $black;
        transition: top .5s ease-in-out;
        overflow-y: scroll;
        ul {
            text-align: center;
            margin-top: calc(10% + 90px);
            padding: 0;
            li {
                display: block;
                width: 100%;
                text-align: left;
                margin: 0;
                border-bottom: solid 1px $gray;
                a {
                    font-size: 1.5rem;
                    height: auto;
                    line-height: 4.5rem;
                    padding: 0 0 0 40px;
                    border: none;
                    border-radius: 0;
                }
            }
        }
    }
}
.mobile-nav-open {
// Mobile Nav View
    .main-nav {
        @media (max-width: $small) {
            top: 0%;
        }
    }
}
.mobile-nav-btn {
    display: none;
    position: fixed;
    z-index: 1;
    top: 1.5%;
    right: 5%;
    height: 40px;
    width: 50px;
    background: $black;
    box-sizing: border-box;
    border-radius: 3px;

    @media (max-width: $small) {
        display: block;
    }

    .mobile-nav-btn__icon-line {
        position: absolute;
        z-index: 1;
        top: 8px;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: block;
        height: 3px;
        width: 32px;
        background: $offwhite;
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
        transition: all .2s;

        &:nth-of-type(2) {
            top: 18px;
        }
        &:nth-of-type(3) {
            z-index: 2;
            top: 28px;
        }
    }

    // Open Mobile Nav
    &.nav-open {
        .mobile-nav-btn__icon-line {
            top: 16px;
            -moz-transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);

            &:nth-of-type(2) {
                display: none;
            }
            &:nth-of-type(3) {
                -moz-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                transform: rotate(135deg);
            }
        }
    }
}

main {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}

@-webkit-keyframes fadein {
    0% {opacity: 0; margin-top: -40px;}
    100% {opacity: 1; margin-top: 0px;}
}
@keyframes fadein {
    0% {opacity: 0; margin-top: -40px;}
    100% {opacity: 1; margin-top: 0px;}
}

div[ui-view="samplesView"] {
    &.ng-enter {
        opacity: 0;
        margin-top: 50px;
        transition: all .5s ease-in-out;

        img {
            opacity: 0;
            margin-top: -75px;
            transition: all .35s ease-in-out;
        }
    }
    &.ng-enter-active {
        opacity: 1;
        margin-top: 0;

        img {
            opacity: 1;
            margin-top: 0;
        }
    }
}

main[ui-view="mainView"] {
    &.ng-enter {
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    &.ng-enter-active {
        opacity: 1;
        margin-top: 0;
    }
}

// Intro Page
.intro {
    @media (max-width: $small) {
        width: 100%;
        margin-top: 40px;
    }
    @media (max-width: 360px) {
        margin-top: 8px;
    }
    @media (max-width: 320px) {
        margin-top: 0;
    }
    div {
        display: block;
        width: 100%;
        height: 300px;
        background: $gray-light;

        @media (max-width: $small) {
            width: auto;
            height: auto;
            background: transparent;
        }
    }
    h1 {
        font-size: 4rem;
        font-weight: 400;
        line-height: 16rem;
        text-align: center;
        color: $white;
        margin: 0;
        padding: 10px;

        @media (max-width: $small) {
            font-size: 2rem;
            line-height: 2rem;
            text-align: left;
            color: $black;
            padding: 10px 0;
        }
    }

    + .main-nav {
        ul {
            text-align: center;
        }
    }
}

.main-nav.home {
    ul {
        text-align: center;
    }
}

// Generic Page Styles
.page {
    max-width: 900px;
    margin: 40px auto 0;
    text-align: left;
    @media (max-width: $small) {
        margin: 0 auto;
    }

    article {
        padding: 20px;
        @media (max-width: $small) {
            padding: 10px 5px;
        }

        h2 {
            display: inline-block;
            font-weight: 400;
            color: $gray;
            margin: 20px 0;
            padding: 0 10px;
            @media (max-width: $small) {
                margin: 10px 0;
            }
        }
    }
    a[data-role="button"] {
        display: block;
        color: $gray;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        width: 130px;
        background: $offwhite;
        border: 1px solid $gray;
        border-radius: 3px;
        margin: 40px auto 0;
        padding: 0;

        &:hover, &:focus {
            color: $offwhite;
            text-decoration: none;
            background: $gray;
        }

        @media (max-width: $small) {
            width: calc(100% - 40px);
            color: $offwhite;
            background: $gray;

            &:hover, &:focus {
                color: $gray;
                background: $offwhite;
            }
        }
    }
}

// Gallery
.gallery {
    max-width: 900px;

    .gallery-nav {
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-display: flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;

        -webkit-justify-content: space-between;
        justify-content: space-between;

        padding: 20px;

        @media(max-width: $small) {
            padding: 20px 0;
        }
        .gallery-nav__thumb {
            position: relative;

            -webkit-flex-grow: 1;
            flex-grow: 1;

            -webkit-flex-basis: 30%;
            flex-basis: 30%;

            height: 218px;
            font-size: 1.5em;
            font-weight: 600;
            text-align: center;
            color: $black;
            margin: 0 20px 20px 0;
            padding: 10px;
            box-shadow: inset 0 0 0 rgba(0,0,0,0);
            overflow: hidden;
            transition: all .35s ease-out;

            opacity: 0;

            -webkit-animation-duration: .5s;
            animation-duration: .5s;

            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-name: fadein;
            animation-name: fadein;

            &:nth-child(1) {
                background: $gray-light;
                background-size: 100%;
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
                &:hover {
                    box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                    background-size: 108%;
                }
            }
            &:nth-child(2) {
                background: $gray-light;
                background-size: 100%;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
                &:hover, &:focus {
                    box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                    background-size: 108%;
                }
            }
            &:nth-child(3) {
                margin: 0 0 20px;
                background: $gray-light;
                background-size: 100%;
                -webkit-animation-delay: .8s;
                nimation-delay: .8s;
                &:hover, &:focus {
                    box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                    background-size: 108%;
                }
            }
            &:nth-child(4) {
                background: $gray-light;
                background-size: 100%;
                -webkit-animation-delay: .6s;
                animation-delay: .6s;
                &:hover, &:focus {
                    box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                    background-size: 108%;
                }
            }
            &:nth-child(5) {
                background: $gray-light;
                background-size: 100%;
                -webkit-animation-delay: .4s;
                animation-delay: .4s;
                &:hover, &:focus {
                    box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                    background-size: 108%;
                }
            }
            &:nth-child(6) {
                margin: 0 0 20px;
                background: $gray-light;
                background-size: 100%;
                -webkit-animation-delay: .2s;
                animation-delay: .2s;
                &:hover, &:focus {
                    box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                    background-size: 108%;
                }
            }

            @media (max-width: 920px) {
                &:nth-child(1) {
                    background: $gray-light;
                    background-size: cover;
                    &:hover {
                        box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                        background-size: cover;
                    }
                }
                &:nth-child(2) {
                    background: $gray-light;
                    background-size: cover;
                    &:hover, &:focus {
                        box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                        background-size: cover;
                    }
                }
                &:nth-child(3) {
                    margin: 0 0 20px;
                    background: $gray-light;
                    background-size: cover;
                    &:hover, &:focus {
                        box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                        background-size: cover;
                    }
                }
                &:nth-child(4) {
                    background: $gray-light;
                   background-size: cover;
                    &:hover, &:focus {
                        box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                        background-size: cover;
                    }
                }
                &:nth-child(5) {
                    background: $gray-light;
                    background-size: cover;
                    &:hover, &:focus {
                        box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                        background-size: cover;
                    }
                }
                &:nth-child(6) {
                    margin: 0 0 20px;
                    background: $gray-light;
                    background-size: cover;
                    &:hover, &:focus {
                        box-shadow: inset 0 40px 100px rgba(0,0,0,1);
                        background-size: cover;
                    }
                }
            }

            @media (max-width: $small) {
                &:nth-child(1) {
                    -webkit-animation-delay: .2s;
                    animation-delay: .2s;
                }
                &:nth-child(2) {
                    -webkit-animation-delay: .4s;
                    animation-delay: .4s;
                }
                &:nth-child(3) {
                    -webkit-animation-delay: .6s;
                    animation-delay: .6s;
                }
                &:nth-child(4) {
                    -webkit-animation-delay: .8s;
                    animation-delay: .8s;
                }
                &:nth-child(5) {
                    -webkit-animation-delay: 1s;
                    animation-delay: 1s;
                }
                &:nth-child(6) {
                    -webkit-animation-delay: 1.2s;
                    animation-delay: 1.2s;
                }
            }

            @media (max-width: 620px) {
                -webkit-flex-basis: 45%;
                flex-basis: 45%;

                font-size: 1.4rem;

                &:nth-child(2) {
                    margin: 0 0 20px;
                }
                &:nth-child(3) {
                    margin: 0 20px 20px 0;
                }
                &:nth-child(4) {
                    margin: 0 0 20px;
                }
            }

            @media (max-width: $x-small) {
                -webkit-flex-basis: 100%;
                flex-basis: 100%;

                font-size: 1.4rem;
                margin: 0 0 40px 0;

                &:nth-child(2) {
                    margin: 0 0 40px 0;
                }
                &:nth-child(3) {
                    margin: 0 0 40px 0;
                }
                &:nth-child(4) {
                    margin: 0 0 40px 0;
                }
            }

            span {
                display: block;
                position: absolute;
                bottom: -50%;
                right: 0;
                left: 0;
                height: 50%;
                padding: 20px 10px 10px;
                background: $white;
                border-top: 12px solid $black;
                transition: bottom .35s ease-in-out;

                @media (max-width: 736px) {
                    transition: none;
                    bottom: 0;
                    border-top: 24px solid $gray;
                }
            }
            &:hover, &:focus {
                span {
                    bottom: 0;
                }
            }
        }
    }

    .slide {
        padding: 20px;
        @media (max-width: $small) {
            padding: 20px 0;
        }

        div {
            display: block;
            width: 100%;
            height: 400px;
            background: $gray-light;
            @media (max-width: 810px) {
                max-width: 100%;
            }
        }
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 17%;
        display: block;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        color: $black;
        padding: 0 10px;
        border-radius: 3px;

        &:hover, &:focus {
            color: $white;
            background: $black;
        }

        @media (max-width: $small) {
            padding: 0;
            &:hover, &:focus {
                color: $gray;
                background: $offwhite;
            }
        }
        @media (max-width: $x-small) {
            right: 0;
        }
    }
}

// Task Adder
#taskAdder {
    .taskadder-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
            form[name="taskAdder"] {
                flex: 1 0 35%;
                padding: 0 20px 30px 20px;
                background: $gray-light-light;
                @media(max-width: $small) {
                    flex: 0 0 100%;
                    padding: 0 0 40px;
                    background: none;
                }
                .add-success {
                    color: $green-dark;
                    background: url('../images/checkmark.svg') no-repeat 10px center $green-light;
                    background-size: 20px 20px;
                    border: solid 1px $green;
                    .add-success__img {
                        width: 6%;
                        margin: 0 10px 0 0;
                        @media (max-width: 1024px) {
                            width: 10%;
                        }
                        @media (max-width: $small) {
                            width: 20%;
                        }
                    }
                }
            }
            #taskOutput {
                flex: 1 0 50%;
                margin: 20px 0 0 40px;
                border-collapse: collapse;

                th {
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: black;
                    padding: 0 0 10px;
                }
                tr {
                    &:first-of-type {
                        td {
                            border-top: solid 1px $gray-light;
                        }
                    }
                    td {
                        font-size: 1rem;
                        line-height: 1.5em;
                        padding: 10px 0 10px;
                        border-bottom: solid 1px $gray-light;
                        &:first-of-type {
                            color: $black;
                        }

                        .task-new {
                            color: $green;
                        }

                        @media(max-width: $small) {
                            display: block;
                            padding: 0;
                            border: none;
                            &:first-of-type {
                                padding: 20px 0 0;
                            }
                            &:last-of-type {
                                border-bottom: solid 1px $gray-light;
                            }
                        }
                    }
                }

                @media(max-width: $small) {
                    flex: 0 0 100%;
                    margin: 0;
                    padding: 0 0 40px;
                }
                @media(max-width: $x-small) {
                    margin: 0 0 20px;
                }
            }
    }
}

// Contact
#contact {
    text-align: center;
    margin: 0 auto;

    h2 {
        font-weight: 400;
        color: $gray;
    }
    h3 {
        font-weight: 400;
        color: $gray;
        margin: 40px 0 10px 0;
    }

    .success {
        width: 6%;
        margin-top: 40px;
        @media (max-width: 1024px) {
            width: 10%;
        }
        @media (max-width: $small) {
            width: 20%;
        }
    }
}

// Footer
footer {
    height: 40px;
    color: rgb(255,255,255);
    text-align: center;
    background: $white;

    @media(max-width: $x-small) {
        height: 60px;
    }

    p {
        font-size: 0.7rem;
        line-height: 3.5em;
        color: $black;
        margin: 0;
        padding: 0;

        @media(max-width: $x-small) {
            line-height: 1.5rem;
            padding: 0 20px;
        }
    }
    .twitter {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-left: 5px;
        background: url(../images/twitter.svg) no-repeat center center transparent;
        background-size: cover;

        @media(max-width: $x-small) {
            height: 20px;
            width: 20px;
            margin: 0 0 0 20px;
        }
    }
    .linkedin {
        display: inline-block;
        height: 15px;
        width: 15px;
        margin-left: 5px;
        background: url(../images/linkedin.svg) no-repeat center center transparent;
        background-size: 100%;

        @media(max-width: $x-small) {
            height: 20px;
            width: 20px;
        }
    }
}
