@import '_variables';

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    padding: 0;
    background: url("/assets/images/image-2.png") $grey no-repeat fixed top;
    background-size: 100%;
    header {
        text-align: center;
        width: 50%;
        margin: 0 auto 20px;
        @media (max-width: $small) {
            width: 90%;
        }
        h1 {
            font-size: 48px;
            font-weight: 300;
            color: $white;
            margin: 20px 0 0;
            padding: 0;
            mark {
                font-weight: 100;
            }
        }
        h2 {
            font-size: 18px;
            font-weight: 400;
            color: $light-blue;
            margin: 0 0 15px;
            padding: 0;
        }
    }
    main {
        text-align: center;
        section {
            article {
                div:first-child {
                    width: 50%;
                    margin: 0 auto;
                    @media (max-width: $small) {
                            width: 90%;
                    }
                    input[type=text] {
                        font-size: 18px;
                        width: 100%;
                        height: 58px;
                        margin: 20px 0 0;
                        padding: 20px;
                        background: $white;
                        border: 0;
                        border-radius: 4px;
                        color: $grey;
                        &.has-error {
                            border: 2px solid $red;
                        }
                    }
                    input[type=text]::placeholder {
                        color: $grey-light;
                    }
                    input[type=text]:-ms-input-placeholder {
                        color: $grey-light;
                    }
                    input[type=text]::-ms-input-placeholder {
                        color: $grey-light;
                    }
                }
                .results {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    min-height: 48%;
                    background: #000000;
                    opacity: 0.5;
                    @media (max-width: $medium) {
                        min-height: 46%;
                    }
                    @media (max-width: $small) {
                        width: 100%;
                        min-height: 48%;
                    }
                    @media (max-width: $x-small) {
                        position: relative;
                        min-height: 0;
                        background: none;
                    }
                    .results--intro {
                        text-align: center;
                        color: $white;
                        margin: 90px 0 0;
                        padding: 70px 0 0;
                        background-image: url("/assets/images/image-3.1.png"), url("/assets/images/image-3.png");
                        background-position: center top, center 15px;
                        background-repeat: no-repeat;
                        opacity: 0.5;
                        @media (max-width: $small) {
                            width: 90%;
                            margin: 60px auto 0;
                        }
                        @media (max-width: $x-small) {
                            width: 90%;
                            margin: 40px auto 0;
                            font-weight: 400;
                        }
                    }
                    .results--error {
                        font-weight: 400;
                        text-align: center;
                        color: $red;
                        margin: 40px auto 0;
                        @media (max-width: $small) {
                            width: 90%;
                        }
                        @media (max-width: $x-small) {
                            width: 90%;
                        }
                    }
                    .results--weather {
                        width: 50%;
                        margin: 0 auto;
                        @media (max-width: $small) {
                            width: 90%;
                        }
                        @media (max-width: $x-small) {
                            width: 90%;
                            margin: 40px auto 0;
                        }
                        p {
                            font-size: 24px;
                            font-weight: 500;
                            text-align: left;
                            color: $light-blue;
                            border-bottom: 1px solid $white;
                            clear: both;
                            span {
                                display: block;
                                float: right;
                                font-weight: 300;
                                text-align: right;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    p {
        text-align: left;
        font-size: 24px;
        color: $white;
    }
    .btn {
        display: block;
        font-size: 36px;
        font-weight: 400;
        text-decoration: none;
        width: 100%;
        height: 58px;
        margin: 20px 0 0;
        padding: 5px 0 0;
        border: 1px solid $light-blue;
        border-radius: 4px;
        &:hover {
            text-decoration: none;
        }
        &.btn--primary {
            color: $white;
            background: $light-blue;
        }
        &.btn--secondary {
            font-weight: 200;
            color: $light-blue;
            background: none;
            border: 1px solid $light-blue;
        }
    }
    a {
        font-size: 24px;
        color: $white;
    }
    .error {
        font-size: 18px;
        color: $red;
        margin: 0;
        padding: 0;
    }
    .hide {
        display: block;
        height: 0;
        text-indent: -99999px;
    }
}
