<form name="contactMessage" ng-submit="submitForm(contactMessage.$valid)" novalidate>
    <label for="name">Name<sup>*</sup></label>
    <input type="text" name="name" placeholder="Full Name" ng-model="contact.name" ng-class="{'has-error': contactMessage.name.$pristine && submitted || contactMessage.name.$invalid && submitted}" ng-required="true" ng-minlength="4">
    
    <p class="has-error-message" ng-messages="contactMessage.name.$error" ng-if="contactMessage.name.$invalid && submitted || contactMessage.name.$pristine && submitted">
        <ng-messages-include src="./partials/error-messages.html"></ng-messages-include>
    </p>

    <label for="email">Email<sup>*</sup></label>
    <input type="email" name="email" placeholder="your@email.com" ng-model="contact.email" ng-class="{'has-error': contactMessage.email.$pristine && submitted || contactMessage.email.$invalid && submitted}" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
    
    <p class="has-error-message" ng-messages="contactMessage.email.$error" ng-if="contactMessage.email.$invalid && submitted || contactMessage.email.$pristine && submitted">
        <ng-messages-include src="./partials/error-messages.html"></ng-messages-include>
    </p>

    <label for="subject">Subject<sup>*</sup></label>
    <input type="text" name="subject" placeholder="Message Subject" ng-model="contact.subject" ng-class="{'has-error': contactMessage.subject.$pristine && submitted || contactMessage.subject.$invalid && submitted}" ng-required="true" ng-minlength="2">
    
    <p class="has-error-message" ng-messages="contactMessage.subject.$error" ng-if="contactMessage.subject.$invalid && submitted || contactMessage.subject.$pristine && submitted">
        <span ng-message="minlength">This field must be at least 2 characters long.</span>
        <ng-messages-include src="./partials/error-messages.html"></ng-messages-include>
    </p>

    <label for="message">Messsage<sup>*</sup></label>
    <textarea id="textarea" name="message" placeholder="Max 1000 characters" ng-attr-placeholder="Max 1000 characters" ng-model="contact.message" ng-class="{'has-error': contactMessage.message.$pristine && submitted || contactMessage.message.$invalid && submitted}" ng-required="true" ng-trim="true" ng-maxlength="1000" maxlength="1000"></textarea>
    
    <p class="has-error-message" ng-messages="contactMessage.message.$error" ng-if="contactMessage.message.$invalid && submitted || contactMessage.message.$pristine && submitted">
        <ng-messages-include src="./partials/error-messages.html"></ng-messages-include>
    </p>
    
    <small>{{1000 - contact.message.length}}</small>

    <button type="submit">Submit</button>
</form>