<h1>{{galleryContent.pageTitle}}</h1>
<p>{{galleryContent.content}}</p>
<nav class="gallery-nav">
    <a ui-sref="gallery.slide1" class="gallery-nav__thumb"><span>Slide 1</span></a>
    <a ui-sref="gallery.slide2" class="gallery-nav__thumb"><span>Slide 2</span></a>
    <a ui-sref="gallery.slide3" class="gallery-nav__thumb"><span>Slide 3</span></a>
    <a ui-sref="gallery.slide4" class="gallery-nav__thumb"><span>Slide 4</span></a>
    <a ui-sref="gallery.slide5" class="gallery-nav__thumb"><span>Slide 5</span></a>
    <a ui-sref="gallery.slide6" class="gallery-nav__thumb"><span>Slide 6</span></a>
</nav>